*{
    margin: auto;
    padding: auto;
    
    box-sizing: border-box;
    
}

body{
    
    /* background-image: url("test.png"); */
    background-repeat: no-repeat;
    background-size: cover;
}

/* 
** Container y diseño cabecera
 */

.container{
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;

    box-shadow: 0 0 5px rgb(144, 144, 144);

}

h1{
    display: block;
    font-weight: bolder;
    color:#000000;
}

/* 
** Botones e input 
*/

input[type=text]{

    
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('search-people-icon.png');
    background-size: 25px 30px;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

input[type=submit]{
    margin: 1rem;
    
    width: 15%;
    padding: 10px;
    color: white;
    background-color: cornflowerblue;
}

/* 
** Formularios y aspectos primordiales
 */


h1, form{
    padding: 1rem;
    text-align: center;
}

h3{
    color: #505050;
    font-size: 15px;
    font-weight: lighter;

    margin: .5rem;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}