{% load static %}

<!DOCTYPE html>
<html lang="es-do">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href='{% static "/voted.css" %}'>    
    <title>Encuesta navideña</title>
</head>
<body>
    <img src="test.png" alt="">
    <div class="container">


        <h1>¡Bienvenido!</h1>
        
        <form action="/polls" method="POST">
            {% csrf_token %}
            
            <label for="your_name">Ingrese su nombre completo: </label><br>
            <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
            <input type="submit" action="" value="Verificar">
        </form>
        
        <footer>Los datos aquí mostrados son completamente privados. ¡Siéntete seguro de votar!</footer>
    </div>

</body>
</html>